body {
    background-color: darkmagenta;  /* cor de fundo*/
    color:antiquewhite /* cor da letra*/
    margin: 0px; /*espaco antes da borda*/
}

header { 
    border: solid 2px purple;
    padding: 20px;
    font-size: 32px;
    color: aliceblue;
}

h1 {
    font-size: 30px;
}

p { 
   color: darkturquoise;
   font-size: 16px;
}